html {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

body {
    background-color: #181923;
}

h1 {
    z-index:101;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: mediumaquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    transition: .3s;
}

.header a:hover{
    text-decoration: underline;
    color: #181923;
}

.logo{
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar a {
    font-size: 30px;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 1;
    transition: .3s;
    text-decoration: none;
    text-transform: none;
}

.navbar a:hover {
    font-size: 40px;
    color: #181923;
    padding: 1px;
    text-decoration: none;
    flex-shrink: 0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    color: white;
}

.games {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 0px 10%;
    color: white;
}